@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9597 0.0037 264.5393);
    --foreground: oklch(0.2077 0.0145 264.1874);
    --card: oklch(0.9597 0.0037 264.5393);
    --card-foreground: oklch(0.2077 0.0145 264.1874);
    --popover: oklch(0.9597 0.0037 264.5393);
    --popover-foreground: oklch(0.2077 0.0145 264.1874);
    --primary: oklch(0.3926 0.0709 166.5045);
    --primary-foreground: oklch(0.9861 0.0023 174.5175);
    --secondary: oklch(0.8801 0.0075 264.5234);
    --secondary-foreground: oklch(0.3071 0.0264 264.0713);
    --muted: oklch(0.9205 0.0049 264.5343);
    --muted-foreground: oklch(0.4913 0.0352 264.1761);
    --accent: oklch(0.9373 0.0233 173.8436);
    --accent-foreground: oklch(0.3250 0.0566 167.0257);
    --destructive: oklch(0.4854 0.1780 27.0398);
    --destructive-foreground: oklch(0.9848 0 0);
    --border: oklch(0.8393 0.0101 264.5103);
    --input: oklch(0.8801 0.0075 264.5234);
    --ring: oklch(0.3926 0.0709 166.5045);
    --chart-1: oklch(0.3926 0.0709 166.5045);
    --chart-2: oklch(0.4379 0.0529 263.7941);
    --chart-3: oklch(0.5720 0.0972 172.4301);
    --chart-4: oklch(0.5592 0.0616 270.0753);
    --chart-5: oklch(0.6911 0.1223 158.8756);
    --sidebar: oklch(0.2586 0.0207 264.1164);
    --sidebar-foreground: oklch(0.9605 0.0024 264.5432);
    --sidebar-primary: oklch(0.6704 0.1177 166.9176);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.3576 0.0238 264.2114);
    --sidebar-accent-foreground: oklch(0.9373 0.0233 173.8436);
    --sidebar-border: oklch(0.3576 0.0238 264.2114);
    --sidebar-ring: oklch(0.6704 0.1177 166.9176);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(220, 30%, 5%);
    --shadow-2xs: 0px 0px 0px 0px hsl(220 30% 5% / 0.00);
    --shadow-xs: 0px 0px 0px 0px hsl(220 30% 5% / 0.00);
    --shadow-sm: 0px 0px 0px 0px hsl(220 30% 5% / 0.00), 0px 1px 2px -1px hsl(220 30% 5% / 0.00);
    --shadow: 0px 0px 0px 0px hsl(220 30% 5% / 0.00), 0px 1px 2px -1px hsl(220 30% 5% / 0.00);
    --shadow-md: 0px 0px 0px 0px hsl(220 30% 5% / 0.00), 0px 2px 4px -1px hsl(220 30% 5% / 0.00);
    --shadow-lg: 0px 0px 0px 0px hsl(220 30% 5% / 0.00), 0px 4px 6px -1px hsl(220 30% 5% / 0.00);
    --shadow-xl: 0px 0px 0px 0px hsl(220 30% 5% / 0.00), 0px 8px 10px -1px hsl(220 30% 5% / 0.00);
    --shadow-2xl: 0px 0px 0px 0px hsl(220 30% 5% / 0.00);
    --tracking-normal: -0.02em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1525 0.0098 264.1937);
    --foreground: oklch(0.9605 0.0024 264.5432);
    --card: oklch(0.1525 0.0098 264.1937);
    --card-foreground: oklch(0.9605 0.0024 264.5432);
    --popover: oklch(0.1525 0.0098 264.1937);
    --popover-foreground: oklch(0.9605 0.0024 264.5432);
    --primary: oklch(0.7382 0.1666 158.2154);
    --primary-foreground: oklch(0.1871 0.0373 164.2516);
    --secondary: oklch(0.2284 0.0170 264.1547);
    --secondary-foreground: oklch(0.9605 0.0024 264.5432);
    --muted: oklch(0.2284 0.0170 264.1547);
    --muted-foreground: oklch(0.7137 0.0186 264.4503);
    --accent: oklch(0.3238 0.0604 161.9080);
    --accent-foreground: oklch(0.9258 0.0667 167.4396);
    --destructive: oklch(0.4050 0.1551 27.8110);
    --destructive-foreground: oklch(0.9848 0 0);
    --border: oklch(0.2586 0.0207 264.1164);
    --input: oklch(0.2586 0.0207 264.1164);
    --ring: oklch(0.7382 0.1666 158.2154);
    --chart-1: oklch(0.7382 0.1666 158.2154);
    --chart-2: oklch(0.6597 0.0608 256.8359);
    --chart-3: oklch(0.6461 0.1081 178.6914);
    --chart-4: oklch(0.5109 0.0709 269.6499);
    --chart-5: oklch(0.7422 0.1431 154.9476);
    --sidebar: oklch(0.1272 0.0085 260.6150);
    --sidebar-foreground: oklch(0.9205 0.0049 264.5343);
    --sidebar-primary: oklch(0.7382 0.1666 158.2154);
    --sidebar-primary-foreground: oklch(0.1111 0.0074 260.6150);
    --sidebar-accent: oklch(0.2077 0.0145 264.1874);
    --sidebar-accent-foreground: oklch(0.9032 0.0876 166.5257);
    --sidebar-border: oklch(0.2284 0.0170 264.1547);
    --sidebar-ring: oklch(0.7382 0.1666 158.2154);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0, 0%, 0%);
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
